body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 40px;
}

footer {
    padding: 40px;
}
